body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: skyblue;
  color: #212121;
  line-height: 1.5;
}

.country-list {
  list-style: none;
}

input[type='text']:focus {
  border: 3px solid rgb(81, 81, 81);
  outline: none;
}

.country-list__item {
  padding: 5px 0;
  font-size: 18px;
  display: flex;
  gap: 15px;
  justify-content: left;
  text-align: center;
}

.container {
  padding-top: 240px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
